img{
    width: 200px
}

.practice1{
    border-radius: 10px;
}

.practice2{
    height: 100px;
    object-fit: cover ;
    object-position: center;
}

.practice3{
    object-fit: cover;
    height: 200px;
    border-radius: 100px;
}
