


    button {
        margin-right: 5px;
        cursor: pointer;
    }

    .subscribe-button {
        background-color : rgb(200,0, 0);
        color: white;
        border: none;
        height: 36px;
        width: 105px;
        border-radius: 2px;
        transition: opacity 0.15s;
    }

    .subscribe-button:hover{
        opacity: 0.7;
    }

    .subscribe-button:active{
        opacity: 0.5; 
    }


    .join-button {
        background-color: white;
        color: rgb(39, 119, 211);
        height: 36px;
        width: 65px;
        border-radius: 2px;
        border-color: rgb(39, 119, 211);
        border-width: 1px;
        border-style: solid;
    }

    .join-button:hover{
        background-color: rgb(39, 119, 211);
        color: white;
        border: none;
    }

    .join-button:active{
        opacity: .8;
    }

    .twitter-button {
        background-color: rgb(14, 153, 245);
        color: white;
        height: 36px;
        width: 65px;
        border-radius: 36px;
        border-width: 0px;
        font-weight: bold;
        font-size: 15;
        transition: background-color .15s;
    }

    .twitter-button:hover{
        background-color:rgb(15, 139, 221);
        box-shadow: -2px 2px rgba(189, 189, 189, 0.8);
    }

    .twitter-button:active{
        opacity: 0.8;
        box-shadow: none;
    }
